<div class="footer">
    <mat-toolbar color="primary">
        <!-- for copyright and contact -->
        <p class="float-left">muzix@gmail.com<br>
            <img src="https://img.icons8.com/material/24/000000/copyright--v1.png"> 2019 muzix India Pvt.Ltd.</p>
            <span style="flex: 1 1 auto;"></span>
        <!-- for social media icons -->
        <img src="https://img.icons8.com/material/24/000000/facebook-f.png">
        <img src="https://img.icons8.com/material/24/000000/twitter--v1.png">
        <img src="https://img.icons8.com/material/24/000000/youtube--v1.png">
        <img src="https://img.icons8.com/material/24/000000/linkedin--v1.png">
        <img src="https://img.icons8.com/material/24/000000/gmail--v1.png">
        <img src="https://img.icons8.com/material/24/000000/whatsapp--v1.png">
        </mat-toolbar>
    </div>
